<h1>Simple social auctions</h1>

<p>Put your auction everywhere</p>

<p>Get bids using Twitter</p>
<p>Post your auction on Craigslist</p>


<h1><%= link_to "See all auctions", items_path %></h1>


<% if @users.any? %>
  <h2>Recently Joined</h2>
  <% for user in @users %>
    <%= link_to image_tag(user.profile_image_url, :width => "48", :height => "48"), twitter_profile_url(user),  :target => "_blank" %>
  <% end %>
<% end %>
