<h2>Welcome to simple social auctions</h2>

<p>Dead simple auctions with built in promotion so more people see what you are selling.</p>

<p>There is not much else to say.</p>


<h1><%= link_to "See all auctions", items_path %></h1>


<% if @users.any? %>
  <h2>Recently Joined</h2>
  <% for user in @users %>
    <%= link_to profile_image(user), twitter_profile_url(user), :height => "48", :width => "48", :target => "_blank" %>
  <% end %>
<% end %>
